@{
    ViewData["Title"] = "Контакты";
}

<div class="container mt-5">
    <h3>ИНФОРМАЦИОННАЯ СИСТЕМА ПО СВОЙСТВАМ ПОЛУПРОВОДНИКОВОГО КРЕМНИЯ
</h3>
    <br />

    <h1>@ViewData["Title"]</h1>
    <br />
    <ul>
        <li>Почта: @ViewData["Email"]</li>
        <li>Мобильный телефон: @ViewData["Phone"]</li>
        <li>Адрес: 119991, ГСП-1, Москва, Ленинский пр-т, 49, лаб.11</li>
        <li>Связь с разработчиком: gmlanin@@edu.hse.ru</li>
    </ul>
    <br />
</div>



